# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.nupkg
*.snupkg

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

# NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

# Node
node_modules/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.swp
*.swo
